
.chartContainer{
    margin-top: 1rem;
    max-width: 100%;
    text-align: center;
}

.chartwidth{
    margin: 0 5em;
    width: 15%;
    display: inline-block;
    align-items: center;
    top: 0;
}

.firstLabel{
    background-color: #00FFFF;
    color: #00FFFF;
}

.secondLabel{
    background-color: #b2ffff;
    color: #b2ffff;
}

.thirdLabel{
    background-color: #f2ffff;
    color: #f2ffff;
}

.fourthLabel{
    background-color: #e2caf8;
    color: #e2caf8;
}

.fifthLabel{
    background-color: #c89af1;
    color: #c89af1;
}

.sixthLabel{
    background-color: #8A2BE2;
    color: #8A2BE2;
}

.incomeLabel {
    background-color: #333333;
    color: #333333;
}

.junk{
    visibility: hidden;
}