@media (max-width: 1480px){
  input {
    font-size: 2vw;
  }
}

@media (max-width: 1300px){
      input {
        height: 3vw;
        font-size: 2vw;
      }
      .inputName {
        font-size: 1em;
      }
      ::placeholder {
        font-size: 0.5em;
      }
}

@media (max-width: 1080px){

} 

@media (max-width: 900px){
    ::placeholder {
        font-size: 0.8em;
      }
    .inputName {
        font-size: 0.8em;
      }

}

@media (max-width: 720px){

}

@media (max-width: 600px){
    input {
        height: 6vw;
        font-size: 1em;
      }
}